@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

html.safe-mode *, body.safe-mode * {
  transition: none !important;
  animation: none !important;
  scroll-behavior: auto !important;
}